body {
  box-sizing: border-box;
  background-color: white;
  font-family: Helvetica, sans-serif;
  color: #323232;
}

p {
  font-size: 1.1rem;
  font-weight: 200;
}

a {
  color: #323232;
}

a:visited {
  color: #323232;
}

a:hover {
  color: #323232;
}

.navbar {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
  padding-bottom: 1.8rem;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.logo {
  height: 5rem;
  min-width: 128px;
  max-height: 100%;
  max-width: 100%;
  margin-top: .2rem;
  margin-left: .65rem;
}
.assignmentBox {
  width: 80%;
  margin: auto;
  border-top: 1px solid grey;
}

.collectionItem:hover {
  cursor: pointer;
}

.btn {
  border-radius: 0 !important;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemImage {
  /*flex:1;*/
  max-width: 300px;
  max-height: 300px;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion {   display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #787878;
 }
.autocomplete-no-suggestion {   display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 2px solid #787878;
}
.autocomplete-selected { background: #F0F0F0; cursor: pointer; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

/*input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; }*/

input {
  font-size: 1rem;
  padding: .2rem;
  border: 1px solid #787878;
  width: 90%;
}

.info-box {
  width: 80%;
  margin: auto;
  border-top: 2px solid #323232;
}

.nav-link {

}

.contact-info {
  /* border-bottom: 1px solid white; */
  font-weight: bold;
  font-style: italic;
}

.scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
}
@media (max-width:1024px) {

}

@media (max-width:768px) {
  .navbar {
    margin-top: .45rem;
    margin-left: .02rem;
  }
  .logo {
    height: 5rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    box-shadow: none;
    padding-bottom: 0;
  }
  .logo {
    height: 3.4rem;
    min-width: 0;
  }
  .assignmentBox {
    width: 95%;
  }
}

@media (max-width:320px) {
}

}
