body {
  background-color: #cbd0d8;
}

.assignmentBox {
  width: 75%;
  margin: 2em auto;
  background-color: white;
  border: 2px solid black;
  padding: 1em;
}

.collectionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.collectionItem:hover {
  cursor: pointer;
}
.itemImage {
  flex:1;
}

.itemInfo {
  flex: 4;
}
